---
title: "Authors"
layout: page
permalink: "/authors-list.html"
---

<div class="row gap-y listrecent listrecent listauthor">
  {% for author in site.data.authors %}
  <div class="col-lg-6 mb-4">
    <div class="p-4 border rounded">
      <div class="row">
        <div class="col-md-3 mb-4 mb-md-0">
          <img alt="{{ author[0] }}" src="{{site.baseurl}}/{% if author[1].avatar %}{{ author[1].avatar }}{% else %}assets/images/authors/avatar-person.svg{% endif %}" class="rounded-circle" height="80" width="80">
        </div>
        <div class="col-md-9">
          <a href="{{site.baseurl}}/authors/{{ author[0] }}">
            <h4 class="text-dark mb-0"> {{ author[1].name }} </h4>
            <small class="d-inline-block mt-1 mb-1 font-weight-normal">View Posts</small>
            <div class="excerpt">{{ author[1].bio }}</div>
          </a>
          <div class="icon-block mt-3 d-flex justify-content-between">
            <div>
              {% if author[1].website %}
              <a target="_blank" href="{{ author[1].website }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
              {% endif %}
              {% if author[1].github %}
              <a target="_blank" href="https://github.com/{{ author[1].github }}"><i class="fab fa-github text-muted" aria-hidden="true"></i></a> &nbsp;
              {% endif %}
              {% if author[1].twitter %}
              <a target="_blank" href="https://twitter.com/{{ author[1].twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
              {% endif %}
              {% if author[1].linkedin %}
              <a target="_blank" href="https://www.linkedin.com/in/{{ author[1].linkedin }}"><i class="fab fa-linkedin text-muted" aria-hidden="true"></i></a> &nbsp;
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
