<div class="mb-5 d-flex justify-content-between main-loop-card">
<div class="pr-3">
	<h2 class="mb-1 h4 font-weight-bold">
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
	<p class="excerpt">
    {{ post.excerpt | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | truncate: 136 }}
	</p>
	<small class="d-block text-muted">
		In <span class="catlist">
		{% for category in post.categories %}
		<a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
		{% endfor %}
		</span>
	</small>
	<small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
	</small>
</div>
</div>
