/* Code snippet CSS */
div.highlighter-rouge {
  margin-top: 1em;
  margin-bottom: 1em;
}

.highlighter-rouge div.highlight {
  padding: 10px;
  border-radius: 6px;
}

pre.highlight {
  margin-bottom: 0;
}

article blockquote {
  padding-left: 30px;
  border-left: 2px solid #ddd;
}

article blockquote::before {
  content: "" !important;
}

hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

code {
  font-size: 90%;
  color: #333;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article .h1,
article .h2,
article .h3,
article .h4,
article .h5,
article .h6 {
  margin-top: 4rem !important;
  font-weight: normal !important;
}

article h2,
article h3,
article h4,
article h5,
article h6,
article .h2,
article .h3,
article .h4,
article .h5,
article .h6 {
  font-style: italic;
}


/* careers page CSS */
.rbox-opening-li {
    padding: 20px 0 !important;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
    border-top: 1px solid rgba(127, 127, 127, 0.2);
    border-bottom-color: #ccc;
}

.rbox-opening-li-title {
    font-size: 1em !important;
    line-height: 1.2em;
    font-weight: bold;
}

/* Explore page cards */
.explore-card {
    $card-radius: 4px;
    border-radius: $card-radius;

    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 4px 12px 0 rgba(0,0,0,0.05);

    a {
        text-decoration: none !important;
    }
    .explore-card-banner {
        height: 150px;
        border-radius: $card-radius $card-radius 0 0;
    }
    .explore-card-content {
        padding: 20px;
    }
}

// Top card styles
.topfirstimage {
  border-radius: 4px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    border-radius: 4px;
    height: 200px;
  }
}

.post-image, .post-image-pattern {
  border-radius: 4px;
}

.post-image-pattern {
  height: 100px;
}

/* Fix for link visibility */
.page-content a,
.page-content a:hover {
    text-decoration: underline;
}
