/* Code snippet CSS */
div.highlighter-rouge {
    margin-top: 1em;
    margin-bottom: 1em;
}

.highlighter-rouge div.highlight {
    padding: 10px;
    border-radius: 6px;
}

pre.highlight {
    margin-bottom: 0;
}

article blockquote::before {
  content: "";
}

hr {
  margin-bottom: 2rem;
  width: 50%;
}
