/* Code snippet CSS */
div.highlighter-rouge {
    margin-top: 1em;
    margin-bottom: 1em;
}

.highlighter-rouge div.highlight {
    padding: 10px;
    border-radius: 6px;
}

pre.highlight {
    margin-bottom: 0;
}

article blockquote {
  padding-left: 30px;
  border-left: 2px solid #ddd;
}

article blockquote::before {
  content: "";
}

hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

code {
  font-size: 90%;
  color: #333;
}

article h1, article h2, article h3, article h4, article h5, article h6,
article .h1, article .h2, article .h3, article .h4, article .h5, article .h6 {
  margin-top: 4rem;
}
